<% provide(:title, current_user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <%= link_to "Edit Information", edit_user_path(current_user), class: "btn btn-primary" %>
    <%= link_to "Delete Profile", user_path, method: :delete,
                                  data: { confirm: "You sure?" },
                                  class: "btn btn-danger"  %>
  </aside>
  <div class="col-md-8">
    <% if @user.breaks.any? %>
      <h3>Total Breaks: <%= @user.breaks.count %></h3>
      <ol class="breaks">
        <% @breaks.each do |b| %>
          <li id="break-<%= b.id %>">
            <%= image_tag "meditation.png", class: "sprite" %>
            <span class="title">Break n.<%= b.id %></span>
            <span class="points"><%= b.points %> points</span>
            <span class="timestamp">
              Done in <%= time_ago_in_words(b.created_at) %> ago.
            </span>
          </li>
        <% end %>
      </ol>
      <%= will_paginate @breaks %>
    <% end %>
  </div>
</div>
